:root {
  --primary: #85D1FB;

  --bg: #EFF9F9;

  --grad: #FFAA00;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Kalam', cursive;
  background-color: var(--bg);
  color: #FFAA00;
  /*min-height: 8000px;*/
}


/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 1.4rem 7%;
  background-color: rgba(133, 209, 251, 0.6);
  border-bottom: 1px solid var(--primary);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 2.5rem;
  font-weight: 700;
  font-family: 'Shrikhand';
  text-shadow: 2px 2px 2px #777;
  color: #fff;
}

.navbar .navbar-logo span {
  color: var(--grad);
}

.navbar .navbar-nav a {
  color: #fff;
  display: inline-block;
  font-size: 1.4rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: var(--grad);
}

.navbar .navbar-nav a::after {
  content: '';
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--grad);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: #fff;
  margin: 0 0.5rem;
  text-shadow: 2px 2px 2px #777;
}

.navbar .navbar-extra a:hover {
  color: var(--grad);
}

#hamburger-menu {
  display: none;
}

/* Navbar Search form */
.navbar .search-form {
  position: absolute;
  top: 100%;
  right: 7%;
  background-color: #fff;
  width: 50rem;
  height: 5rem;
  display: flex;
  align-items: center;
  transform: scaleY(0);
  transform-origin: top;
  transition: 0.3s;
}

.navbar .search-form.active {
  transform: scaleY(1);
}

.navbar .search-form input {
  height: 100%;
  width: 100%;
  font-size: 1.6rem;
  color: #010101;
  padding: 1rem;
}

.navbar .search-form label {
  cursor: pointer;
  font-size: 2rem;
  margin-right: 1.5rem;
  color: #010101;
}

/* Shopping Cart */
.shopping-cart {
  position: absolute;
  top: 100%;
  right: -100%;
  height: 100vh;
  width: 35rem;
  padding: 0 1.5rem;
  background-color: #fff;
  color: #000000;
  transition: 0.3s;
}

.shopping-cart.active {
  right: 0;
}

.shopping-cart .cart-item {
  margin: 2rem 0;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding-bottom: 1rem;
  border-bottom: 1px dashed #666;
  position: relative;
}

.shopping-cart img {
  height: 6rem;
  border-radius: 50%;
}

.shopping-cart h3 {
  font-size: 1.6rem;
  padding-bottom: 0.5rem;
}

.shopping-cart .item-price {
  font-size: 1.2rem;
}

.shopping-cart .remove-item {
  position: absolute;
  right: 1rem;
  cursor: pointer;
}

.shopping-cart .remove-item:hover {
  color: var(--grad);
}

/* Hero Section */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url('../images/bg/bg2.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  background: linear-gradient(0deg, rgba(239, 249, 249, 1) 8%, rgba(255, 255, 255, 0) 50%);
}

.hero .content {
  padding: 1.4rem 7%;
  max-width: 60rem;
}

.hero .content h1 {
  font-size: 5em;
  font-family: 'Dancing Script';
  color: #fff;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  line-height: 1.2;

}

.hero .content h1 span {
  color: var(--grad);
}

.hero .content p {
  font-size: 2rem;
  font-family: 'Kalam';
  color: #fff;
  margin-top: 1rem;
  line-height: 1.4;
  font-weight: 100;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

.hero .content .cta {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  font-family: 'Shrikhand';
  color: #fff;
  background-color: var(--grad);
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(1,1,3, 0.5);
}

/* About Section */
.about,
.menu,
.products,
.contact {
  padding: 10rem 7% 1.4rem;
  color: #3D2200;
}

.about {
  padding-bottom: 15rem;
}

.about h2,
.menu h2,
.products h2,
.contact h2 {
  text-align: center;
  font-family: 'Dancing Script';
  font-size: 3rem;
  margin-bottom: 3rem;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}
.about h2 span,
.menu h2 span,
.products h2 span,
.contact h2 span {
  color: var(--grad);
}

.about .row {
  display: flex;
}

.about .row .about-img {
  flex: 1 1 45rem;
}

.about .row .about-img img {
  width: 100%;
}

.about .row .content {
  flex: 1 1 35rem;
  padding: 0 1rem;
}

.about .row .content h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.about .row .content p {
  margin-bottom: 0.8rem;
  font-size: 2rem;
  font-weight: 100;
  line-height: 1.6;
}

/* Menu Section */
.menu h2,
.products h2,
.contact h2 {
  margin-bottom: 1rem;
}

.menu p,
.products p,
.contact p {
  text-align: center;
  max-width: 30rem;
  margin: auto;
  font-size: 1.8rem;
  font-weight: 100;
  line-height: 1.6;
}

.menu .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
  justify-content: center;
  /*row-cols-md-4 row-cols-2 gx-5 p-5;*/
}

.menu .row .menu-card {
  text-align: center;
  padding-bottom: 4rem;
}

.menu .row .menu-card img {
  border-radius: 50%;
  width: 65%;
}

.menu .row .menu-card .menu-card-title {
  margin: 1rem auto 0.5rem;
  font-size: 1.8rem;
}

/* Product Section */
.products .row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1.5rem;
  margin-top: 4rem;
}

.products .product-card {
  text-align: center;
  border: 1px solid #666;
  padding: 2rem;
}

.products .product-icons {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.products .product-icons a {
  width: 4rem;
  height: 4rem;
  color: #3D2200;
  margin: 0.3rem;
  border: 1px solid #666;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.products .product-icons a:hover {
  background-color: var(--grad);
  border: 1px solid var(--grad);
}

.products .product-image {
  padding: 1rem 0;
}

.products .product-image img {
  height: 20rem;
}

.products .product-content h3 {
  font-size: 2rem;
}

.products .product-stars {
  font-size: 1.7rem;
  padding: 0.8rem;
  color: var(--grad);
}

.products .product-stars .star {
  fill: var(--grad);
}

.products .product-price {
  font-size: 1.3rem;
  font-weight: bold;
}

.products .product-price span {
  text-decoration: line-through;
  font-weight: lighter;
  font-size: 1rem;
}

.back-button {
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  display: flex;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  font-family: 'Shrikhand';
  color: #fff;
  background-color: var(--grad);
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(1,1,3, 0.5);
}

/* Contact Section */
.contact .row {
  display: flex;
  margin-top: 2rem;
  padding-bottom: 1rem;
  background-color: #222;
}

.contact .row .map {
  flex: 1 1 45rem;
  width: 100%;
  object-fit: cover;
}

.contact .row form {
  flex: 1 1 45rem;
  padding: 5rem 2rem;
  text-align: center;
}

.contact .row form .input-group {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  background-color: #010101;
  border: 1px solid #eee;
  padding-left: 2rem;
  color: #fff;
}

.contact .row form .input-group input {
  width: 100%;
  padding: 2rem;
  font-size: 1.7rem;
  background: none;
  color: #fff;
}

.contact .row form .btn {
  margin-top: 3rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.7rem;
  color: #fff;
  background-color: var(--grad);
  cursor: pointer;
}

/* Footer */
footer {
  background-color: var(--grad);
  text-align: center;
  padding: 1rem 0 3rem;
  margin-top: 3rem;
}

footer .socials {
  padding: 1rem 0;
}

footer .socials a {
  color: #fff;
  margin: 1rem;
}

footer .socials a:hover,
footer .links a:hover {
  color: var(--primary);
}

footer .links {
  margin-bottom: 1.4rem;
}

footer .links a {
  color: #fff;
  padding: 0.7rem 1rem;
}

footer .credit {
  font-size: 0.8rem;
  color: #fff;
}

footer.credit a {
  color: var(--bg);
  font-weight: 700;
}


/* Modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.7);
  z-index: 9999;
  display: none;
  overflow: auto;
  width: 100%;
  height: 100%;
  animation: animateModal 0.5s;
}

@keyframes animateModal {
  from {
    top: -300%;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.modal-content {
  background: #fff;
  margin-top: 100px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 8px 24px;
  border-radius: 4px;
  z-index: 9999;
}

.product-content {
  display: flex;
  flex-wrap: wrap;
}

.product-content img {
  height: 20rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
}

.product-content h3 {
  font-size: 2rem;
  color: #3D2200;
}

.product-content p {
  font-size: 1.2rem;
  line-height: 1.8rem;
  margin-top: 1.2rem;
  color: #3D2200;
}

.modal .product-stars {
  font-size: 1.7rem;
  padding: 0.8rem;
  color: var(--grad);
}

.modal .product-stars .star {
  fill: var(--grad);
}

.modal .product-price {
  font-size: 1.3rem;
  font-weight: bold;
  color: #3D2200;
}

.modal .product-price span {
  text-decoration: line-through;
  font-weight: lighter;
  font-size: 1rem;
}

.product-content a {
  display: flex;
  gap: 1rem;
  width: 12rem;
  background-color: var(--grad);
  color: #fff;
  margin-top: 1rem;
  padding: 1rem 1.6rem;
}

.modal-header {
  font-weight: 500;
  padding: 10px 0;
  font-size: 2rem;
}

.modal-header .close-icon {
  float: right;
  font-size: 2rem;
  background: #efefef;
  border: 0;
  outline: 0;
  padding: 5px;
  border-radius: 50%;
  color: #3D2200;
}

.modal-body {
  color: #7b7b7b;
  padding: 15px 0;
}

.modal-footer {
  padding: 15px 0;
  color: #3D2200;
}

.modal-footer a {
  color: #3D2200;
}


/* Media Queries */

/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
    /*img {
      max-width: 75%;
    }*/
  }
}

/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
    /*img {
      max-width: 62.5%;
    }*/
  }

  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #85D1FB;
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }

  .navbar .search-form {
    width: 90%;
    right: 2rem;
  }

  .about .row {
    flex-wrap: wrap;
  }

  .about .row .about-img img {
    height: 24rem;
    object-fit: cover;
    object-position: center;
  }

  .about .row .content {
    padding: 0;
  }

  .about .row .content h3 {
    margin-top: 1rem;
    font-size: 2rem;
  }

  .about .row .content p {
    font-size: 1.6rem;
  }

  .menu p {
    font-size: 1.2rem;
  }

  .menu .row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5rem;
    justify-content: center;
  }

  .contact .row {
    flex-wrap: wrap;
  }

  .contact .row .map {
    height: 30rem;
  }

  .contact .row form {
    padding-top: 0;
  }

  /*.menu .row .menu-card img {
    border-radius: 50%;
    width: 50%;
  }*/

  .modal-content {
    flex-wrap: wrap;
  }
}

/* Mobile Phone */
@media (max-width: 450px) {
  html {
    font-size: 55%;
    /*img {
      max-width: 300px;
    }*/
  }

  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: rgba(133, 209, 251, 0.5);
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }

  .about .row {
    flex-wrap: wrap;
  }

  .about .row .about-img img {
    height: 24rem;
    object-fit: cover;
    object-position: center;
  }

  .about .row .content {
    padding: 0;
  }

  .about .row .content h3 {
    margin-top: 1rem;
    font-size: 2rem;
  }

  .about .row .content p {
    font-size: 1.6rem;
  }

  .menu .desk {
    font-size: 1.8rem;
  }

  .menu .row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5rem;
    justify-content: center;
  }

  /*.menu .row .menu-card img {
    border-radius: 50%;
    width: 30%;
  }*/

  .menu .menu-card .menu-card-title {
    font-size: 1.5rem;
  }
}